<div class="dashboard-content">
    <mat-card class="dashboard-card">
      <mat-card-title>Card 1</mat-card-title>
      <mat-card-content>
        Content for card 1.
      </mat-card-content>
    </mat-card>
    <mat-card class="dashboard-card">
      <mat-card-title>Card 2</mat-card-title>
      <mat-card-content>
        Content for card 2.
      </mat-card-content>
    </mat-card>
    <mat-card class="dashboard-card">
      <mat-card-title>Card 3</mat-card-title>
      <mat-card-content>
        Content for card 3.
      </mat-card-content>
    </mat-card>

  </div>
  