  <div class="profile-container">
    <mat-card class="profile-card">
      <mat-card-header>
        <div mat-card-avatar class="profile-avatar"></div>
        <mat-card-title>{{ userEmail }}</mat-card-title>
    
        <!-- <mat-card-subtitle>{{  }}</mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-content>
        <!-- <p>
          <mat-icon>phone</mat-icon> {{ userPhone }}
        </p>
        <p>
          <mat-icon>location_on</mat-icon> {{ userLocation }}
        </p> -->
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Edit Profile</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-card-actions>
    </mat-card>
  </div>
  