<section class="section">
    <div class="search-div">
        <mat-form-field appearance="standard">
            <mat-label>TransDateFrom</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="TransDateFrom"  autocomplete="off"  required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>TransDateTo</mat-label>
            <input matInput [matDatepicker]="picker2" [(ngModel)]="TransDateTo"  autocomplete="off"  required>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>RecordStatus</mat-label>
            <mat-select role="combobox"  [disableOptionCentering]="true"  [(ngModel)]="RecordStatus">
                <mat-option value="open" selected>Open</mat-option>
                <mat-option value="void">Void</mat-option>
                <mat-option value="all">All</mat-option>
            </mat-select>
        </mat-form-field>
        <button type="button" mat-raised-button color="primary" (click)="GetSaleHeaders()"> <mat-icon>list</mat-icon> View</button>
        <button type="button" mat-raised-button color="accent" (click)="onClickPrintReceipt()"> <mat-icon>print</mat-icon> Print Receipt</button>
        <button type="button" mat-raised-button color="accent" (click)="onClickPrintReceipts()"> <mat-icon>print</mat-icon> Print Receipts</button>
 

    </div>
    <div class="mat-elevation-z2">
        <mat-table [dataSource]="ListData" matSort>
            <ng-container *ngFor="let dc of defaultColumns" [matColumnDef]="dc" sticky >
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{dc}}</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element[dc]}}</mat-cell>
            </ng-container>
            <ng-container *ngFor="let dc of numberColumns" [matColumnDef]="dc" sticky >
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{dc}}</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element[dc] | number:'1.2-2'}}</mat-cell>
            </ng-container>
            <ng-container *ngFor="let dc of dateColumns" [matColumnDef]="dc" sticky >
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{dc}}</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element[dc] | date:'MM/dd/yyyy'}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" (click)="onClickUpdate()"><mat-icon>edit</mat-icon> </button>
                    <button mat-icon-button color="warn" (click)="onClickVoid()"><mat-icon>delete</mat-icon> </button>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
                </mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    No data.
                </mat-footer-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="mergeColumns; sticky:true"></mat-header-row>
            <mat-row   *matRowDef="let row; columns: mergeColumns;" (click)="getRecord(row)"  [ngClass]="{'data-selected': SelectedReceiptNo == row.ReceiptNo}"></mat-row>
            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':!isTrue}"></mat-footer-row>
            <mat-footer-row *matFooterRowDef="['noData']"  [ngClass]="{'hide': SaleHeaders.length > 0}"></mat-footer-row>
        </mat-table>
        <mat-paginator class="mat-paginator-sticky" [pageSize]="10" [pageSizeOptions]="PageSizeOptions" showFirstLastButtons> </mat-paginator>
    </div>
</section>
